<header>
  <h1><%= title %></h1>
  <nav>
    <ul>
      <li><a href="/">トップ</a></li>
      <li><a href="/sites">寺社一覧</a></li>
      <li><a href="/sites/new">新しい寺社を登録</a></li>
      <li><a href="/prefectures">都道府県から探す</a></li>
      <li><a href="/map">地図から探す</a></li>
    </ul>
  </nav>
</header>
